<mat-toolbar color="primary">
  Some Logo
  <span class="navbar-spacer">
    <app-file-management [template]="attachments">
      <ng-template #attachments>
        <mat-icon matTooltip="Upload attachments">attach_file</mat-icon>
        <!--<span>UPLOAD ATTACHMENTS</span>-->
      </ng-template>
    </app-file-management>
  </span>
</mat-toolbar>


<app-folder-name-validator></app-folder-name-validator>

<ng-container *hasPermissions="[permissions.CHANNEL_CREATE, permissions.CHANNEL_UPDATE]; operator: 'AND'">
// Only users with "CHANNEL_CREATE" AND "CHANNEL_UPDATE" permissions can see this content
  <p>You have access</p>
</ng-container>


<ng-container *hasPermissions="[permissions.CHANNEL_CREATE, permission2.CHANNEL_UPDATE2, permissions.CHANNEL_UPDATE]; operator: 'OR'">
  // Only users with "CHANNEL_CREATE" AND "CHANNEL_UPDATE" permissions can see this content
  <p>You have access to something less important</p>
</ng-container>
