<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
    <button mat-mini-fab color="primary" class="btn" (click)="inputVisible = !inputVisible">+</button>
    <div [formGroup]="createFolder" *ngIf="inputVisible">
        <input matInput formControlName="id">
      <button mat-raised-button [disabled]="createFolder.invalid">Create</button>
    </div>
  </mat-tree-node>
</mat-tree>
