<div [formGroup]="fileUploadForm">
  <label for="upload-file"><span #viewContainer></span></label>
    <input
      type="file"
      class="btn"
      id="upload-file"
      formControlName="file"
      accept=".pdf, .docx, .xlsx, .jpg"
      (change)="uploadFile($event)">
</div>
