/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  width: 925px;
  margin: 1rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar-spacer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 5px;
  height: 36px;
}
